.Weather {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  width: 64px;
  height: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

a {
  text-decoration: none;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.Weather .weather_forecast {
  margin-top: 20px;
  text-align: center;
}

.Weather.weather_forecast_date {
  opacity: 0.5;
  font-size: 16px;
}

.weather_forecast_temperature_min {
  opacity: 0.5;
}

.weather_forecast_temperature {
  font-size: 13px;
}
